body {
   background-image: url(/Imagenes/Fondo_carton.jpg);
   background-repeat: no-repeat;
   background-size: 100%;
}

.titulo1 {
    color: aliceblue;
}
.parrafo_1 {

    height: 50vh;
    margin: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    

}